/* Compiler */

/* Centered */

.centered {

    margin-left: auto;

    margin-right: auto
}
/* Clearfix */
.cf:before, .cf:after {

    content: "";

    display: table
}
.cf:after {

    clear: both
}
/* Hidden */
.hidden {

    display: none;

    visibility: hidden
}
/* Inline */
.inline {

    font-size: 0
}
.inline > div {

    display: inline-block
}
/* Positioning */
.pinTL {

    top: 0;

    left: 0
}
.pinTR {

    top: 0;

    right: 0
}
.pinBR {

    bottom: 0;

    right: 0
}
.pinBL {

    bottom: 0;

    left: 0
}
.pinAll {

    top: 0;

    right: 0;

    bottom: 0;

    left: 0;

    margin: auto
}
/* Truncate Text */
.truncateText {

    display: block;

    overflow: hidden;

    text-overflow: ellipsis;

    white-space: nowrap
}
/* Vertically center */
.verticallyCenter {

    position: relative;

    top: 50%;

    transform: translateY(-50%)
}
/* Visually Hidden */
.visuallyHidden {

    position: absolute;

    height: 1px;

    width: 1px;

    border: 0;

    clip: rect(0 0 0 0);

    margin: -1px;

    overflow: hidden;

    padding: 0
}
